@media (max-width: 768px) {
  .header__inner {
    display: none; } }

@media (min-width: 768px) {
  .mobile-navigation {
    display: none; } }

.mobile-header-nav {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  width: 100%; }
  .mobile-header-nav li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .mobile-header-nav li a {
      color: white;
      display: block;
      padding: 15px 0;
      text-align: center;
      text-decoration: none;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }

.hamburger-menu {
  display: inline-block;
  height: 100px;
  padding: 35px 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .hamburger-menu:hover {
    cursor: pointer; }
  .hamburger-menu .menu-item {
    display: block;
    height: 3px;
    margin: 0 0 6px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 25px; }
  .hamburger-menu.open .menu-item {
    margin: 0 0 5px; }
    .hamburger-menu.open .menu-item:first-child {
      -webkit-transform: rotate(46deg);
      -ms-transform: rotate(46deg);
      transform: rotate(46deg);
      -webkit-transform-origin: 1px;
      -ms-transform-origin: 1px;
      transform-origin: 1px; }
    .hamburger-menu.open .menu-item:nth-child(2) {
      opacity: 0; }
    .hamburger-menu.open .menu-item:nth-child(3) {
      -webkit-transform: rotate(-46deg);
      -ms-transform: rotate(-46deg);
      transform: rotate(-46deg);
      -webkit-transform-origin: 2px;
      -ms-transform-origin: 2px;
      transform-origin: 2px; }
