@font-face {
  font-family: 'segoeui';
  src: url("../fonts/segoeui.ttf");
}

@font-face {
  font-family: 'segoeuib';
  src: url("../fonts/segoeuib.ttf");
}

@font-face {
  font-family: 'segoeuii';
  src: url("../fonts/segoeuii.ttf");
}

@font-face {
  font-family: 'segoeuil';
  src: url("../fonts/segoeuil.ttf");
}

@font-face {
  font-family: 'segoeuisl';
  src: url("../fonts/segoeuisl.ttf");
}

@font-face {
  font-family: 'segoeuiz';
  src: url("../fonts/segoeuiz.ttf");
}

@font-face {
  font-family: 'seguibl';
  src: url("../fonts/seguibl.ttf");
}

@font-face {
  font-family: 'seguibli';
  src: url("../fonts/seguibli.ttf");
}

@font-face {
  font-family: 'seguili';
  src: url("../fonts/seguili.ttf");
}

@font-face {
  font-family: 'seguisb';
  src: url("../fonts/seguisb.ttf");
}

@font-face {
  font-family: 'seguisbi';
  src: url("../fonts/seguisbi.ttf");
}

@font-face {
  font-family: 'seguisli';
  src: url("../fonts/seguisli.ttf");
}

.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  padding-top: 10vh;
}

.modal-content {
  max-width: 915px;
  width: 100%;
  z-index: 9999;
  background: #fff;
  padding: 30px 30px 70px;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
}

.modal-text {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

span.modal-close {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  width: 35px;
  height: 35px;
  background: #3569B2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
}

span.modal-close:hover {
  opacity: .8;
}

span.modal-close::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

span.modal-close i {
  color: #ffffff;
  font-size: 21px;
}

.modal-show {
  visibility: visible;
}

.text-resize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-enlarge {
  font-family: 'segoeuib';
  font-size: 16px;
  color: rgba(53, 105, 178, 0.5);
}

.switch {
  position: relative;
  display: inline-block;
  width: 78px;
  height: 36px;
  margin-left: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(53, 105, 178, 0.4);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.switch input:checked + .slider {
  background-color: #3569B2;
}

.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-on {
  font-family: Arial;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
}

.slider-off {
  font-family: Arial;
  font-weight: bold;
  position: absolute;
  right: 11px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
}

.mobile-navigation {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .mobile-navigation {
    display: none;
  }
}

.mobile-header-nav {
  display: block;
  left: 0px;
  z-index: 10;
  background-color: #3569B2;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 70px;
  width: 100%;
}

.mobile-header-nav li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-header-nav li a {
  font-family: 'seguisb';
  color: white;
  display: block;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mobile-header-nav li a:hover {
  background-color: #3c75c5;
}

.hamburger-menu {
  display: inline-block;
  width: 70px;
  height: 70px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.hamburger-menu .menu-item {
  background: #3569B2;
  display: block;
  height: 3px;
  margin: 0 0 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 25px;
}

.hamburger-menu.open .menu-item {
  margin: 0 0 5px;
}

.hamburger-menu.open .menu-item:first-child {
  -webkit-transform: rotate(46deg);
  -ms-transform: rotate(46deg);
  transform: rotate(46deg);
  -webkit-transform-origin: 1px;
  -ms-transform-origin: 1px;
  transform-origin: 1px;
}

.hamburger-menu.open .menu-item:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .menu-item:nth-child(3) {
  -webkit-transform: rotate(-46deg);
  -ms-transform: rotate(-46deg);
  transform: rotate(-46deg);
  -webkit-transform-origin: 2px;
  -ms-transform-origin: 2px;
  transform-origin: 2px;
}

body {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1030px;
  width: 100%;
  padding: 0 10px;
  margin: auto;
  height: 100%;
}

header {
  background: rgba(236, 236, 236, 0.65);
}

.header__inner {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;
}

.header__logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__nav {
  margin: 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav li {
  display: inline-block;
  margin-right: -4px;
  margin: 0 10px;
}

.header__nav a {
  font-family: 'segoeuib';
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  color: #3569B2;
  padding: 5px 10px;
  font-weight: bold;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.header__nav a:hover {
  color: rgba(53, 105, 178, 0.6);
}

.header__profile a {
  display: block;
  padding: 5px;
}

.header__profile a:hover i {
  color: #67c77f;
}

.header__profile i {
  font-size: 16px;
  color: #43B860;
}

.home-top {
  background: url(../images/home-top-bg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.home-top__inner-bg {
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}

.home-top__wrap {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.home-top__content {
  max-width: 400px;
  width: 100%;
  padding: 0 10px;
}

.home-top__content h1 {
  font-size: 36px;
  line-height: 43px;
  color: #3569B2;
  margin-bottom: 40px;
  font-family: 'segoeuib';
}

.home-top__btn {
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #43B860;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  border-radius: 5px;
  font-family: Arial;
  font-weight: bold;
}

.home-top__btn:hover {
  background: #35934c;
}

.circle {
  background: rgba(11, 196, 95, 0.95);
  border-radius: 100%;
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: -250px;
  right: -115px;
}

.circle__content {
  max-width: 290px;
  width: 100%;
  height: 160px;
  padding: 0 15px;
  border-right: 2px solid #3569B2;
  position: absolute;
  bottom: 50%;
  right: 115px;
}

.circle__content p, .circle__content .footer__info a, .footer__info .circle__content a {
  text-align: right;
  font-size: 16px;
  line-height: 22px;
  color: #3569B2;
  font-family: 'seguisb';
}

footer {
  background: #3569B2;
  position: relative;
  overflow: hidden;
}

.footer__wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  padding: 0 15px;
}

.footer__top {
  border-bottom: 1px solid #43B860;
  padding: 50px 0;
}

.footer__bottom {
  padding: 70px 0;
}

.circle.top-left {
  width: 320px;
  height: 320px;
  left: -70px;
  top: -200px;
}

.circle.right {
  right: -250px;
  top: 200px;
}

.footer-top__title {
  color: #ffffff;
  font-size: 28px;
  line-height: 32px;
  font-family: 'seguisbi';
  margin-bottom: 40px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

ul.form-list {
  margin-right: 40px;
  max-width: 415px;
  width: 100%;
}

ul.form-list li {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.form-list li:last-child {
  margin-bottom: 0;
}

ul.form-list input, ul.form-list select {
  max-width: 325px;
  width: 100%;
  height: 45px;
  padding-left: 15px;
}

ul.form-list input::-webkit-input-placeholder, ul.form-list select::-webkit-input-placeholder {
  font-family: Arial;
  font-size: 10px;
  color: rgba(38, 153, 251, 0.5);
}

ul.form-list input:-ms-input-placeholder, ul.form-list select:-ms-input-placeholder {
  font-family: Arial;
  font-size: 10px;
  color: rgba(38, 153, 251, 0.5);
}

ul.form-list input::-ms-input-placeholder, ul.form-list select::-ms-input-placeholder {
  font-family: Arial;
  font-size: 10px;
  color: rgba(38, 153, 251, 0.5);
}

ul.form-list input::placeholder, ul.form-list select::placeholder {
  font-family: Arial;
  font-size: 10px;
  color: rgba(38, 153, 251, 0.5);
}

ul.form-list select {
  background: transparent;
  font-size: 10px;
  color: rgba(38, 153, 251, 0.5);
  border: none;
}

ul.form-list select option {
  font-size: 14px;
  color: #000;
}

ul.form-list select option:disabled {
  color: lightgrey;
}

ul.form-list .select-wrap {
  max-width: 325px;
  width: 100%;
  height: 45px;
  background: #ffffff;
}

.input-label {
  width: 90px;
  height: 45px;
  background: #43B860;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: bold;
  font-size: 8px;
}

.prijava-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 195px;
  width: 100%;
}

.prijava-box h4 {
  font-family: 'seguisbi';
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.prijava-btn {
  width: 120px;
  height: 40px;
  background: #43B860;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;
}

.prijava-btn:hover {
  background: #35934c;
}

.footer__bottom__content {
  max-width: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__logo__info {
  width: 200px;
}

.footer__info {
  margin-top: 15px;
}

.footer__info p, .footer__info a {
  font-size: 10px;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  margin-bottom: 15px;
  padding-left: 83px;
}

.footer__info a {
  margin-bottom: 0;
  padding-left: 0;
}

.footer__contact {
  min-width: 120px;
  font-family: Arial;
  font-weight: bold;
  padding-top: 10px;
}

.footer__contact h6 {
  font-size: 10px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__contact a {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer__contact a:hover {
  text-decoration: underline;
}

.home-section {
  padding: 100px 10px;
}

.tabs-box {
  max-width: 880px;
  width: 100%;
  height: 455px;
  margin: 0 auto;
  -webkit-box-shadow: 0 20px 40px #d3d3d3;
  box-shadow: 0 20px 40px #d3d3d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-box__content {
  max-width: 640px;
  width: 100%;
  height: 100%;
  padding: 40px 65px 20px 40px;
}

ul.tabs-box__tabs {
  max-width: 240px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

li.tabs__tab {
  display: block;
  width: 240px;
  height: 87px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 25px;
  background: rgba(53, 105, 178, 0.12);
}

li.tabs__tab.active {
  background: rgba(53, 105, 178, 0.8);
}

li.tabs__tab.active .tab__txt {
  color: #ffffff;
}

li.tabs__tab:hover .tab__txt {
  opacity: .7;
}

.tab__plus-btn {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
}

.tab__plus-btn i {
  font-size: 16px;
  color: #3569B2;
}

.tab__txt {
  font-size: 16px;
  color: #3569B2;
  text-transform: uppercase;
  font-family: 'seguisb';
}

.tab__content {
  height: 100%;
  position: relative;
}

.tab__content .tab__title {
  font-size: 36px;
  line-height: 50px;
  color: #43B860;
  margin-bottom: 15px;
  font-family: 'seguisbi';
}

.tab__content .tab__subtitle {
  font-size: 20px;
  line-height: 30px;
  color: #3569B2;
  width: 80%;
  font-family: Arial;
  font-weight: 500;
  margin-bottom: 20px;
}

.tab__content .tab__content-txt {
  font-family: 'segoeui';
  font-size: 16px;
  line-height: 26px;
  color: #3569B2;
  text-align: justify;
  height: 210px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.tab__content .tab__content-txt.content-txt-modal {
  height: auto;
}

.tab__content .modal-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px;
  line-height: 32px;
  color: #43B860;
  font-family: 'seguisbi';
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.tab__content .modal-btn:hover {
  color: #8cd59e;
}

.vision {
  margin: 20px auto;
  max-width: 800px;
  width: 100%;
  padding: 15px;
  padding: 30px 10px 100px;
}

.vision__title {
  color: #43B860;
  font-size: 36px;
  line-height: 50px;
  font-family: 'seguisbi';
  margin-bottom: 15px;
}

.vision__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.vision__content-txt {
  max-width: 385px;
  width: 100%;
}

.vision__content-txt p, .vision__content-txt .footer__info a, .footer__info .vision__content-txt a {
  font-size: 16px;
  color: #3569B2;
  font-family: 'segoeui';
  line-height: 26px;
}

.vision__content-txt h4 {
  margin: 20px 0;
  font-size: 28px;
  color: #3569B2;
  font-family: 'segoeui';
  font-weight: 300;
}

.vision__content-img {
  max-width: 335px;
  width: 100%;
  height: 560px;
  background: url(../images/vision-img.jpg) no-repeat center left;
  background-size: cover;
  opacity: .9;
}

@media (max-width: 768px) {
  .header__inner {
    display: none;
  }
  .circle {
    right: -65px;
  }
  .circle.right {
    right: -380px;
  }
  .tab__content .tab__content-txt {
    height: 175px;
  }
  .modal-content {
    max-width: 700px;
  }
}

@media (max-width: 415px) {
  .home-top__wrap {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .home-top__content {
    margin-top: 50px;
  }
  .home-top__content h1 {
    text-align: center;
  }
  .home-top__content .home-top__btn {
    margin: 0 auto;
  }
  .tabs-box {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .tabs-box__content {
    padding: 15px;
    padding-bottom: 50px;
  }
  .tab__content .modal-btn {
    bottom: -40px;
  }
  ul.tabs-box__tabs {
    max-width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  li.tabs__tab {
    width: 50%;
    margin-bottom: 2px;
    padding: 15px;
  }
  li.tabs__tab:nth-child(odd) {
    border-right: 2px solid #fff;
  }
  .tab__plus-btn {
    margin-right: 10px;
  }
  .vision__content {
    position: relative;
  }
  .vision__content-txt {
    z-index: 2;
  }
  .vision__content-img {
    position: absolute;
    z-index: 1;
    max-width: 100%;
    opacity: .15;
  }
  ul.form-list {
    margin-right: 0;
  }
  .prijava-box h4 {
    margin: 30px 0;
  }
  .modal-content {
    padding: 15px 15px 60px;
  }
  .vision__content-txt {
    text-align: justify;
  }
}

@media (max-width: 375px) {
  .tab__plus-btn {
    width: 20px;
    height: 20px;
  }
  .tab__txt {
    font-size: 12px;
  }
  li.tabs__tab {
    padding: 10px;
    height: 70px;
  }
  .tab__plus-btn i {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .home-top__content h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .circle {
    right: -100px;
  }
  .footer__bottom__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer__contact {
    text-align: center;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__info p, .footer__info a {
    padding-left: 0;
    text-align: center;
  }
  .footer__bottom {
    padding: 40px 0;
  }
}
