@font-face {
  font-family: 'segoeui';
  src: url('../fonts/segoeui.ttf');
}
@font-face {
  font-family: 'segoeuib';
  src: url('../fonts/segoeuib.ttf');
}
@font-face {
  font-family: 'segoeuii';
  src: url('../fonts/segoeuii.ttf');
}
@font-face {
  font-family: 'segoeuil';
  src: url('../fonts/segoeuil.ttf');
}
@font-face {
  font-family: 'segoeuisl';
  src: url('../fonts/segoeuisl.ttf');
}
@font-face {
  font-family: 'segoeuiz';
  src: url('../fonts/segoeuiz.ttf');
}
@font-face {
  font-family: 'seguibl';
  src: url('../fonts/seguibl.ttf');
}
@font-face {
  font-family: 'seguibli';
  src: url('../fonts/seguibli.ttf');
}
@font-face {
  font-family: 'seguili';
  src: url('../fonts/seguili.ttf');
}
@font-face {
  font-family: 'seguisb';
  src: url('../fonts/seguisb.ttf');
}
@font-face {
  font-family: 'seguisbi';
  src: url('../fonts/seguisbi.ttf');
}
@font-face {
  font-family: 'seguisli';
  src: url('../fonts/seguisli.ttf');
}
