// 768px

@media (max-width: 768px) {
  .header__inner {
    display: none;
  }
  
  .circle {
    right: -65px;
  }

  .circle.right {
    right: -380px;
  }

  .tab__content .tab__content-txt {
    height: 175px;
  }

  .modal-content {
    max-width: 700px;
  }
}



// 414px
@media (max-width: 415px) {
  .home-top__wrap {
    align-items: flex-start;
  }

  .home-top__content {
    margin-top: 50px;

    h1 {
      text-align: center;
    }

    .home-top__btn {
      margin: 0 auto;
    }
  }

  .tabs-box {
    height: auto;
    flex-direction: column-reverse;
  }

  .tabs-box__content {
    padding: 15px;
    padding-bottom: 50px;
  }

  .tab__content .modal-btn {
    bottom: -40px;
  }

  ul.tabs-box__tabs {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li.tabs__tab {
    width: 50%;
    margin-bottom: 2px;
    padding: 15px;

    &:nth-child(odd) {
      border-right: 2px solid #fff;
    }

    // &:last-child {
    //   width: 100%;
    //   border-right: none;
    // }
  }

  .tab__plus-btn {
    margin-right: 10px;
  }

  .vision__content {
    position: relative;
  }

  .vision__content-txt {
    z-index: 2;
  }

  .vision__content-img {
    position: absolute;
    z-index: 1;
    max-width: 100%;
    opacity: .15;
  }

  ul.form-list {
    margin-right: 0;
  }

  .prijava-box h4 {
    margin: 30px 0;
  }

  .modal-content {
    padding: 15px 15px 60px;
  }

  .vision__content-txt {
    text-align: justify;
  }

}




// 375px
@media (max-width: 375px) {
  .tab__plus-btn {
    width: 20px;
    height: 20px;
  }

  .tab__txt {
    font-size: 12px;
  }

  li.tabs__tab {
    padding: 10px;
    height: 70px;
  }

  .tab__plus-btn i {
    font-size: 12px;
  }


}


// 320px
@media (max-width: 320px) {
  .home-top__content h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .circle {
    right: -100px;
  }

  .footer__bottom__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__contact {
    text-align: center;
  }

  .footer__logo {
    text-align: center;
  }

  .footer__info p {
    padding-left: 0;
    text-align: center;
  }

  .footer__bottom {
    padding: 40px 0;
  }

}
