// nav styles
.mobile-navigation {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    display: none;
  }
}

// styling of dropdown menu
.mobile-header-nav {
  display: block;
  left: 0px;
  z-index: 10;
  background-color: $blue;
  display: none; // hide until menu is clicked
  list-style: none;  // replace with %styled-list
  margin: 0; // replace with %styled-list
  padding: 0; // replace with %styled-list
  position: absolute;
  top: 70px; // if nav sliding in below header
  width: 100%;

  li {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    a {
      font-family: 'seguisb';
      color: white;
      display: block;
      padding: 15px 0;
      text-align: center;
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: lighten($blue, 5%);
      }
    }
  }
}


// styling of hamburger menu
.hamburger-menu {
  display: inline-block;
  width: 70px;
  height: 70px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  .menu-item {
    background: $blue;
    display: block;
    height: 3px;
    margin: 0 0 6px;
    transition: all 0.3s ease-in-out;
    width: 25px;
  }

  &.open {

    .menu-item {
      margin: 0 0 5px;

      &:first-child {
        transform: rotate(46deg);
        transform-origin: 1px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-46deg);
        transform-origin: 2px;
      }
    }
  }
}
