.modal {
  display: none;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  padding-top: 10vh;
}

.modal-content {
  max-width: 915px;
  width: 100%;
  // min-height: 670px;
  z-index: 9999;
  background: #fff;
  padding: 30px 30px 70px;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
}

.modal-text {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

span.modal-close {
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 20px;
  width: 35px;
  height: 35px;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  &:hover {
    opacity: .8;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  i {
    color: $white;
    font-size: 21px;
  }
}

.modal-show {
  visibility: visible;
}

.text-resize {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text-enlarge {
  font-family: 'segoeuib';
  font-size: 16px;
  color: rgba($blue, .5);
}

.switch {
  position: relative;
  display: inline-block;
  width: 78px;
  height: 36px;
  margin-left: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($blue, .4);
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .3s;
}

.switch input:checked + .slider {
  background-color: $blue;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-on {
  font-family: Arial;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
}

.slider-off {
  font-family: Arial;
  font-weight: bold;
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
}
