@import 'fonts';
@import 'variables';
@import 'modal';
@import 'mobile-nav';

body {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1030px;
  width: 100%;
  padding: 0 10px;
  margin: auto;
  height: 100%;
}


// HEADER
header {
  background: rgba($lightgrey, .65);
}

.header__inner {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10px;
}

.header__logo-nav {
  display: flex;
  flex-wrap: wrap;
}

.header__nav {
  margin: 0 70px;
  display: flex;
  align-items: center;

  li {
    display: inline-block;
    margin-right: -4px;
    margin: 0 10px;
  }

  a {
    font-family: 'segoeuib';
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: $blue;
    padding: 5px 10px;
    font-weight: bold;
    transition: all .1s ease;

    &:hover {
      color: rgba($blue, .6);
    }
  }
}

.header__profile {

  a {
    display: block;
    padding: 5px;
  }

  a:hover i {
    color: lighten($green, 10%);
  }

  i {
    font-size: 16px;
    color: $green;
  }
}

// HOME TOP
.home-top {
  background: url(../images/home-top-bg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.home-top__inner-bg {
  height: 100%;
  // background: rgba(#2699FB, .2);
  background: rgba($white, .4);
}

.home-top__wrap {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.home-top__content {
  max-width: 400px;
  width: 100%;
  padding: 0 10px;

  h1 {
    font-size: 36px;
    line-height: 43px;
    color: $blue;
    margin-bottom: 40px;
    font-family: 'segoeuib';
  }
}

.home-top__btn {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $green;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  transition: all .1s ease;
  border-radius: 5px;
  font-family: Arial;
  font-weight: bold;

  &:hover {
    background: darken($green, 10%);
  }
}

.circle {
  background: rgba(#0BC45F, .95);
  border-radius: 100%;
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: -250px;
  right: -115px;
}

.circle__content {
  max-width: 290px;
  width: 100%;
  height: 160px;
  padding: 0 15px;
  border-right: 2px solid $blue;
  position: absolute;
  bottom: 50%;
  right: 115px;

  p {
    text-align: right;
    font-size: 16px;
    line-height: 22px;
    color: $blue;
    font-family: 'seguisb';
  }
}


// FOOTER
footer {
  background: $blue;
  position: relative;
  overflow: hidden;
}

.footer__wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  padding: 0 15px;
}

.footer__top {
  border-bottom: 1px solid $green;
  padding: 50px 0;
}

.footer__bottom {
  padding: 70px 0;
}

.circle.top-left {
  width: 320px;
  height: 320px;
  left: -70px;
  top: -200px;
}

.circle.right {
  right: -250px;
    top: 200px;
}

.footer-top__title {
  color: $white;
  font-size: 28px;
  line-height: 32px;
  font-family: 'seguisbi';
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

ul.form-list {
  margin-right: 40px;
  max-width: 325px + 90px;
  width: 100%;

  li {
    margin-bottom: 20px;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }

  input, select {
    max-width: 325px;
    width: 100%;
    height: 45px;
    padding-left: 15px;

    &::placeholder {
      font-family: Arial;
      font-size: 10px;
      color: rgba(#2699FB, .5);
    }
  }

  select {
    background: transparent;
    font-size: 10px;
    color: rgba(#2699FB, .5);
    border: none;

    option {
      font-size: 14px;
      color: #000;

      &:disabled {
        color: lightgrey;
      }
    }
  }

  .select-wrap {
    max-width: 325px;
    width: 100%;
    height: 45px;
    background: $white;
  }
}

.input-label {
  width: 90px;
  height: 45px;
  background: $green;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Arial;
  font-weight: bold;
  font-size: 8px;
}


.prijava-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 195px;
  width: 100%;

  h4 {
    font-family: 'seguisbi';
    font-size: 18px;
    line-height: 24px;
    color: $white;
  }
}

.prijava-btn {
  width: 120px;
  height: 40px;
  background: $green;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all .1s ease;
  font-family: Arial;
  font-weight: bold;
  font-size: 12px;

  &:hover {
    background: darken($green, 10%);
  }
}

.footer__bottom__content {
  max-width: 450px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__logo__info {
  width: 200px;
}

.footer__info {
  margin-top: 15px;

  p, {
    font-size: 10px;
    color: $white;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 83px;
  }

  a {
    @extend p;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.footer__contact {
  min-width: 120px;
  font-family: Arial;
  font-weight: bold;
  padding-top: 10px;

  h6 {
    font-size: 10px;
    color: $white;
    margin-bottom: 20px;
  }

  a {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 15px;

    &:hover {
      text-decoration: underline;
    }
  }
}




// HOME SECTION
.home-section {
  padding: 100px 10px;
}

.tabs-box {
  max-width: 880px;
  width: 100%;
  height: 455px;
  margin: 0 auto;
  box-shadow: 0 20px 40px #d3d3d3;
  display: flex;
}

.tabs-box__content {
  max-width: 640px;
  width: 100%;
  height: 100%;
  padding: 40px 65px 20px 40px;
}


ul.tabs-box__tabs {
  max-width: 240px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li.tabs__tab {
  display: block;
  width: 240px;
  height: 87px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: rgba($blue, .12);

  &.active {
    background: rgba($blue, .8);

    .tab__txt {
      color: $white;
    }
  }

  &:hover .tab__txt {
    opacity: .7;
  }
}

.tab__plus-btn {
  width: 30px;
  height: 30px;
  background: $white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;

   i {
     font-size: 16px;
     color: $blue;
   }
}

.tab__txt {
  font-size: 16px;
  color: $blue;
  text-transform: uppercase;
  font-family: 'seguisb';
}

.tab__content {
  height: 100%;
  position: relative;

  .tab__title {
    font-size: 36px;
    line-height: 50px;
    color: $green;
    margin-bottom: 15px;
    font-family: 'seguisbi';
  }

  .tab__subtitle {
    font-size: 20px;
    line-height: 30px;
    color: $blue;
    width: 80%;
    font-family: Arial;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .tab__content-txt {
    font-family: 'segoeui';
    font-size: 16px;
    line-height: 26px;
    color: $blue;
    text-align: justify;
    height: 210px;
    overflow: hidden;
    text-overflow: ellipsis;

    &.content-txt-modal {
      height: auto;
    }
  }

  .modal-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    line-height: 32px;
    color: $green;
    font-family: 'seguisbi';
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .1s ease;

    &:hover {
      color: lighten($green, 20%);
    }
  }
}


.vision {
  margin: 20px auto;
  max-width: 800px;
  width: 100%;
  padding: 15px;
  padding: 30px 10px 100px;
}

.vision__title {
  color: $green;
  font-size: 36px;
  line-height: 50px;
  font-family: 'seguisbi';
  margin-bottom: 15px;
}

.vision__content {
  display: flex;
  justify-content: space-between;
}

.vision__content-txt {
  max-width: 385px;
  width: 100%;

  p {
    font-size: 16px;
    color: $blue;
    font-family: 'segoeui';
    line-height: 26px;
  }

  h4 {
    margin: 20px 0;
    font-size: 28px;
    color: $blue;
    font-family: 'segoeui';
    font-weight: 300;
  }
}

.vision__content-img {
  max-width: 335px;
  width: 100%;
  height: 560px;
  background: url(../images/vision-img.jpg) no-repeat center left;
  background-size: cover;
  opacity: .9;
}


// MEDIA QUERY
@import 'media';
